<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcx.dao.GradeMapper">
    <select id="selectAll"  resultType="Grade">
		select classID ,className,lessonName,beginTime,endTime,state,totalCount,goCount,leaveCount from crm_class,crm_lessontype
		where crm_class.lessonTypeId=crm_lessontype.ID
	</select>

	<select id="demand" resultType="Grade" parameterType="Grade">
		select classID ,className,lessonName,beginTime,endTime,state,totalCount,goCount,leaveCount from crm_class,crm_lessontype
		where crm_class.lessonTypeId=crm_lessontype.ID and className=#{className} and state=#{state} and beginTime=#{beginTime}
	</select>

	<select id="deleteGrade" resultType="Grade">
		delete from crm_class where classID=#{classID}
	</select>

    <select id="createGrade" resultType="Grade" parameterType="Grade">
        insert into crm_class (className,beginTime,endTime,state,totalCount,goCount,leaveCount,remark,lessonTypeId)
        values (#{className},#{beginTime},#{endTime},#{state},#{totalCount},#{goCount},#{leaveCount},#{remark},(select ID from crm_lessontype where lessonName=#{lessonName}))
    </select>


    <select id="selectById" resultType="Grade">
        select * from crm_class where classID=#{classID}
    </select>

    <select id="updateGrade" resultType="Grade" parameterType="Grade">
        update crm_class set className=#{className},beginTime=#{beginTime},endTime=#{endTime},state=#{state},
        totalCount=#{totalCount},goCount=#{goCount},leaveCount=#{leaveCount},remark=#{remark},lessonTypeId=(select ID from crm_lessontype where lessonName=#{lessonName})
        where classID=#{classID}
    </select>
</mapper>